<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>message - genestinc.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/mailFormStyles.css">
	<script src="/js/mailResultScript.js" defer></script>
</head>

<body>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://select2.github.io/dist/css/select2.min.css" rel="stylesheet">
	<script src="https://select2.github.io/dist/js/select2.full.js"></script>
	<div class="container">
		<div class="row inbox">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-body inbox-menu">
						<a href="/mailForm" class="btn btn-danger btn-block">メール作成</a>
						<ul>
							<li>
								<a href="#page-inbox.html"><i class="fa fa-inbox"></i> Inbox <span
										class="label label-danger">4</span></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-star"></i> Stared</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-rocket"></i> Sent</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-trash-o"></i> Trash</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-bookmark"></i> Important<span
										class="label label-info">5</span></a>
							</li>
							<li class="title">
								Labels
							</li>
							<li>
								<a href="#">Home <span class="label label-danger"></span></a>
							</li>
							<li>
								<a href="#">Job <span class="label label-info"></span></a>
							</li>
							<li>
								<a href="#">Clients <span class="label label-success"></span></a>
							</li>
							<li>
								<a href="#">News <span class="label label-warning"></span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body contacts">
						<a href="#" class="btn btn-success btn-block"> + Contact</a>
						<ul>
							<li><span class="label label-danger"></span> Adam Alister</li>
							<li><span class="label label-default"></span> Alphonse Ivo</li>
							<li><span class="label label-success"></span> Anton Phunihel</li>
							<li><span class="label label-success"></span> Ajith Hristijan</li>
							<li><span class="label label-warning"></span> Bao Gaspar</li>
							<li><span class="label label-default"></span> Bernhard Shelah</li>
							<li><span class="label label-success"></span> Bünyamin Kasper</li>
							<li><span class="label label-danger"></span> Carlito Roffe</li>
							<li><span class="label label-danger"></span> Chidubem Gottlob</li>
							<li><span class="label label-warning"></span> Dederick Mihail</li>
							<li><span class="label label-success"></span> Felice Arseniy</li>
							<li><span class="label label-default"></span> Grahame Miodrag</li>
							<li><span class="label label-default"></span> Hristofor Sergio</li>
							<li><span class="label label-danger"></span> Scottie Maximilian</li>
							<li><span class="label label-danger"></span> Sullivan Robert</li>
							<li><span class="label label-danger"></span> Thancmar Theophanes</li>
							<li><span class="label label-warning"></span> Tullio Luka</li>
							<li><span class="label label-success"></span> Walerian Khwaja</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-body message">
						<p class="text-center" th:text="${message}"></p>
						<form class="form-horizontal" role="form">
							<div class="form-group">
							</div>
							<div class="form-group">
							</div>
							<div class="form-group">
							</div>
							<div class="form-group">
							</div>
						</form>
						<div class="col-sm-11 col-sm-offset-1">
							<div class="btn-toolbar" role="toolbar">
								<div class="btn-group">
								</div>
								<div class="btn-group">
								</div>
								<div class="btn-group">
								</div>
								<div class="btn-group">
								</div>
								<div class="btn-group">
									<ul class="dropdown-menu">
										<li><a href="#">add label <span class="label label-danger"> Home</span></a>
										</li>
										<li><a href="#">add label <span class="label label-info">Job</span></a></li>
										<li><a href="#">add label <span class="label label-success">Clients</span></a>
										</li>
										<li><a href="#">add label <span class="label label-warning">News</span></a>
										</li>
									</ul>
								</div>
							</div>
							<br>
							<div class="form-group">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success"
									onclick="goToMailFormPage()">メール送信ページへ</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	</script>
</body>

</html>